body {
 margin: 0px auto;
}

nav {
  margin: 0px 10%;
}

nav li{
  float: right;
  margin-top: 9px;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
  color: red;
  font-family: 'Lobster';
  margin: 0px 20px 0px 20px;
  font-weight: bold;
  font-size: 41px;
}

nav .logo {
  float: left;

}

.body_border {
  border: 1px solid black;
  padding: 10px;
}

.main-image img{
  margin:0px 10%;
  border-radius: 10px;
  max-width: 80%;
}

article {
  margin: 0px auto;
  max-width: 80%;
  border: 1px solid red;
  border-radius: 15px;
  background-color: #F5F5F5;
}

h1 {
  font-family: 'Lobster';
  color: red;
  margin: 0px 10%;
  text-decoration: underline;
  text-align: center;
}

p {
  margin: 0px 10%;
  font-size: .90em;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

footer {
  margin: 0px 42%;
}

footer li {
  display: inline;
}

.footer_img {
  height: 50px;
  width: 50px;
}

.footer_img2 {
  height: 41px;
  width: 41px;
  padding-bottom: 4px;
}

#burrita,
#chips {
  width: 90%;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  float: left;
  margin: 1% 5%;
  font-family: 'Cabin', sans-serif;
}


#burrita article,
#chips article {
  border: 1px solid black;
  display: inline-block;
  width: 326px;
  margin: 25px 50px;
}

#burrita article {
  max-height: 323px;
}

#chips article {
  height: 300px;
}

#burrita img,
#chips img {
  border-radius: 100%;
  display:inline-block;
  margin-top: 20px;

}

#burrita img {
  width: 200px;
  height: 200px;
}

#chips img {
  width: 175px;
  height: 175px;
}