nav li {
	display: inline;
	list-style-type: none; 
	float: left;
	margin-left: 120px;
	font-size: 20px;
	margin-top: 5px;
}

body {
	text-align: center;
	color: red;
	font-family: monospace;
	font-weight: bold;
	font-style: italic;
}

.footer_img {
	height: 30px;
	width:  30px;
	text-align: center;
	display: inline;
	
}

footer ul {
	display: inline;
	margin: 1px;
	text-align: center;
	list-style: none;
}
